
.App {
    text-align: center;
}
 
/* Putting albums into a grid */ 
.albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
  
/* Setting covers to same size + adding border*/ 
.albums img {
width: 100%;
border: 2px solid black;
}
  
/* Adding gap between albums */ 
.album {
padding: 20px;
}

/* Styling the buttons */
button {
font-size: 20px;
padding: 10px;
}


