.App {
    text-align: center
}

/* Styling navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(243, 243, 243);
}

/* Styling logo */
nav .logo-text {
    text-transform: uppercase;
    margin-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center
}

/* Styling navbar-elements */
.nav-elements{
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    height: 35px;
}

.nav-elements a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover{
    color: lightseagreen;
}