/* Styling top elements: title, itemcount, price */
.topDivCheckout{
    text-align: center;
}

.topDivCheckout h2{
    text-align: left;
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 0px;
}

.items-price{
    display:flex;
    margin-bottom: 100px;
}

.label-items{
    margin: 5px;
}

.label-price{
    margin: 5px;
    font-weight: bold;
}

.titleInfoShow{
    display: block;
}

.titleInfoHide{
    display: none;
}

/* centering shown page */
.checkout{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Classes to hide parts of page */
.deliveryHide{
    display: none;
}

.paymentHide{
    display: none;
}

.reviewHide{
    display: none;
}

/* Styling delivery-information-page */
.deliveryShow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #eee;
    box-shadow: 2px 8px 10px #ddd;
    transition: 0.3s linear;
    margin-top: 50px;
    max-width: 800px;
    min-width: 400px;
}

/* configuring grid for different lines + styling textboxes*/
.input-line-1{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-line-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.input{
    border: 1px solid rgb(182, 181, 181);
    padding: 10px;
    margin: 10px;
}

/*styling error-message*/
.errorHide{
    display: none;
}

.errorShow{
    color:rgb(197, 0, 0);
}

/* Styling payment-information-page */
.paymentShow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #eee;
    box-shadow: 2px 8px 10px #ddd;
    transition: 0.3s linear;
    margin: 10px;
    margin-top: 50px;
    max-width: 800px;
    min-width: 400px;
}

.selectpay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.paypal{
    width: 60px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
    margin-left: 5px;
}

.card{
    vertical-align: middle;
    text-align: center;
    margin-left: 5px;
}

.radio{
    vertical-align: middle;
}

/* Styling review-page */
.reviewShow{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 2px 8px 10px #ddd;
    transition: 0.3s linear;
    margin: 10px;
    margin-top: 50px;
    max-width: 800px;
    min-width: 400px;
}

/* Stling shipping and payment info */
.info{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.infotitle{
    font-weight: bold;
}

.reviewShow ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
}

.reviewShow ul a{
    margin-bottom: 2px;
}

/* Styling cart-items in review */
.review{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 8px 10px #ddd;
    transition: 0.3s linear;
}

.review img{
    width: 100px;
    height: 100px;
    display: block;
    object-fit: cover;
}

.review a {
    text-align: left;
    margin: 10px;
}

/* styling button */
.checkout button{
    border: none;
    outline: none;
    background: #333;
    color: white;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    margin-top: 20px;
}

.buttons{
    width: 270px;
}

.checkout button:hover {
    background: lightseagreen;
}

/* Styling checkout message */
.checkoutMessageHide{
    display: none;
}

.checkoutMessageShow{
    display: block;
}

.checkoutMessageShow h1{
    font-size: 50px;
}